/*----------------------------------------------------
    Desktop DataView
*/

.ux-wallpaper {
    background-color: #3d71b8;
}

.ux-wallpaper-tiled {
    background-repeat: repeat;
}

.ux-desktop-shortcut {
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin: 4px;
    width: 64px;
    height: 64px;
    float:left;
}

.ux-desktop-shortcut-icon {
    width: 32;
    height: 32px;
    margin:0 auto;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: center;
}

.ux-desktop-shortcut-text {
    font: normal 10px tahoma,arial,verdana,sans-serif;
    text-decoration: none;
    padding-top: 5px;
    color: red;
}

.x-item-over .ux-desktop-shortcut-text {
    text-decoration: underline;
}
.x-item-over{
    /**background: #eff5fb url(selected.gif) no-repeat right bottom;**/
    border:1px solid #99bbe8;
    padding: 4px;
}

