.aboutDlg {
	width: 308px;
	height: 240px;
	padding-top: 20px;
}

.aboutDlg_btn {
	background-color: #eaeaea;
	width: 308px;
	height: 56px;
	text-align: center;
}

.aboutDlg p {
	color: #4b4b4b;
	margin: 15px;
}