<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mawujun.repository">

	<select id="queryPage" resultType="com.mawujun.repository.EntityTest" parameterType="map" databaseId="h2" >
    	SELECT *
	    FROM t_EntityTest 
		<where>
			<if test="wheres!=null">
        	<foreach collection="wheres" index="index" item="item" separator=" and ">
        	<choose>
        		<when test="@Ognl@isInOp(item.op)">
        			${item.prop} in 
        			<foreach item="item1" index="index" collection="item.value"  open="(" separator="," close=")">
                   		${item1}
           			 </foreach>      			
        		</when>
        		<when test="@Ognl@isBetweenOp(item.op)">
        		${item.prop} between 
        		<foreach item="item1" index="index" collection="item.value"  open="" separator=" and " close="">
        			${item1}
        		</foreach>
        		</when>
        		<when test="@Ognl@isLikeOp(item.op)">
        			<if test="item.matchModel==ANYWHERE">
        				${item.prop} like '%${item.value}%'  
        			</if>
        			<if test="item.matchModel==START">
        				${item.prop} like '%${item.value}'  
        			</if>
        			<if test="item.matchModel==END">
        				${item.prop} like '${item.value}%'  
        			</if>	  			
        		</when>
        		<otherwise>
        			${item.prop} ${item.op} #{item.value}
        		</otherwise>	
			</choose>
			</foreach>
			</if>
        </where>
    </select>
	
</mapper>