<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mawujun.mobile" version="1.2.0" android-versionCode="120" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name translatable="false">东望智能</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="login.html" />
    <access origin="*" />
	
	<!-- 指定启动图片，指定服务图片的名称 -->
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="30000" />

	<platform name="android">
		<icon src="res/android/icon.png" density="" />
		<icon src="res/android/icon.png" density="ldpi" />
		<icon src="res/android/icon.png" density="mdpi" />
		<icon src="res/android/icon.png" density="hdpi" />
		<icon src="res/android/icon.png" density="xhdpi" />

		<!-- you can use any density that exists in the Android project ，好像会自动拷贝wei-->
		<splash src="res/android/screen.png"  density="" /> <!--拷贝到默认的目录 drawable-->
		<splash src="res/android/screen.png" density="ldpi" />
		<splash src="res/android/screen.png" density="mdpi" />
		<splash src="res/android/screen.png" density="hdpi" />
		<splash src="res/android/screen.png" density="xhdpi" />
		<splash src="res/android/screen.png" density="land-hdpi" />
		<splash src="res/android/screen.png" density="land-ldpi" />
		<splash src="res/android/screen.png" density="land-mdpi" />
		<splash src="res/android/screen.png" density="land-xhdpi" />
		<splash src="res/android/screen.png" density="port-hdpi" />
		<splash src="res/android/screen.png" density="port-ldpi" />
		<splash src="res/android/screen.png" density="port-mdpi" />
		<splash src="res/android/screen.png" density="port-xhdpi" />
	</platform>
	
	
    <!--
    <feature name="Device" >  
       <param  
           name="android-package"  
           value="org.apache.cordova.device.Device" />  
    </feature>  
    -->
</widget>
