<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- mawujun qq:16064988 e-mail:16064988@qq.com 承接各种项目 -->
<!-- 注意文件名称为:Example_${DbName}_Mapper.xml-->
<mapper namespace="com.mawujun.menu">
	<select id="query4Desktop" resultType="String" >
    	SELECT distinct id
	    FROM leon_MenuItem 
		where menu_id=#{menu_id}  and fun_id is not null
    </select>
    <!-- 用于跨iframe启动另一个窗口的时候,根据jsp获取到相应的menuItem-->
	<select id="queryMenuItem" resultType="com.mawujun.menu.MenuItemVO" >
    	SELECT a.*
	    FROM leon_MenuItem a,leon_fun  b
		where a.menu_id=#{menuId}  and a.fun_id=b.id and b.url=#{jspUrl}
    </select>
</mapper>