<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- mawujun qq:16064988 e-mail:16064988@qq.com 承接各种项目 -->
<!-- 注意文件名称为:Example_${DbName}_Mapper.xml-->
<mapper namespace="com.mawujun.role.Role">
	<select id="queryByRole" resultType="com.mawujun.role.Role" parameterType="map">
    	SELECT a.*
	    FROM leon_Role a,leon_role_role b
		where a.id=b.current_id and b.current_id=#{currentId} and b.roleRoleEnum=#{roleRoleEnum}
		order by a.id
    </select>
	<!-- select语句的生成结束=============================================================================================== -->
</mapper>