<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
        <property name="log_pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</property>
        <property name="file_name">logs/app.log</property>
        <property name="rolling_file_name">logs/app-%d{yyyy-MM-dd}-%i.log.gz</property>
        
        <property name="every_file_size">10M</property><!-- 日志切割的最小单位 -->
        <property name="output_log_level">${log4j2.level}</property><!-- 日志输出级别 -->
  </Properties>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="${log_pattern}"/>
    </Console>
    
    <RollingFile name="RollingFile" fileName="${file_name}"
                     filePattern="${rolling_file_name}">
            <PatternLayout pattern="${log_pattern}"/>
            <SizeBasedTriggeringPolicy size="${every_file_size}"/>
    </RollingFile>
  </Appenders>
  <Loggers>

  	<Logger name="org.mybatis" level="info" additivity="false"></Logger>
  	<Logger name="org.apache.ibatis.jdbc.ScriptRunner" level="info" additivity="false"></Logger>
    <Logger name="java.sql" level="info" additivity="false"></Logger>
    <Logger name="org.hibernate" level="debug" additivity="false"></Logger>
    <Logger name="org.dozer" level="info" additivity="false"></Logger>
    
    <!-- log4jdbc 配置 -->
    <Logger name="jdbc.sqlonly" level="OFF" additivity="true"></Logger>
    <Logger name="jdbc.sqltiming" level="debug" additivity="true"></Logger>
    <Logger name="jdbc.audit" level="OFF" additivity="true"></Logger>
    <Logger name="jdbc.resultset" level="OFF" additivity="true"></Logger>
    <Logger name="jdbc.connection" level="OFF" additivity="true"></Logger>
    
    
    <Logger name="com.mawujun" level="${output_log_level}" additivity="true">
    	<AppenderRef ref="RollingFile"/>
    </Logger>
    
    <Root level="${output_log_level}">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>