<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/task  http://www.springframework.org/schema/task/spring-task-3.2.xsd "
		default-lazy-init="true">

	

	<!---->
	<bean id="monitorInit" class="com.mawujun.monitor.system.MonitorInit" lazy-init="false"  init-method="initialize" ></bean>
	<bean id="springContextHolder" class="com.mawujun.controller.spring.SpringContextHolder" lazy-init="false" ></bean>
	<bean id="cacheInit" class="com.mawujun.cache.CacheInit" lazy-init="false" init-method="initialize" depends-on="roleService" ></bean>
	<bean id="parameterHolder" class="com.mawjun.utils.ParameterHolder" lazy-init="false" init-method="initialize" depends-on="parameterSubjectService" ></bean>
	
	
	 <!-- 
	<bean id="roleCacheHolder" class="com.mawujun.cache.RoleCacheHolder" lazy-init="false" init-method="initialize" depends-on="roleService" ></bean>
	--> 

	 


	<!-- 使用annotation 自动注册bean,并保证@Required,@Autowired的属性被注入 -->
	<context:component-scan base-package="com.mawujun">
		<context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation"/> 
	</context:component-scan>
	
	<!-- 启用@AspectJ支持 ,使用动态代理,不能少-->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	
	<!---->
	<import resource="classpath:repositoryContext.xml"></import>
	 


</beans>