<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>

  	<Logger name="org.mybatis" level="info" additivity="false"></Logger>
  	<Logger name="org.apache.ibatis.jdbc.ScriptRunner" level="info" additivity="false"></Logger>
    <Logger name="java.sql" level="info" additivity="false"></Logger>
    <Logger name="org.hibernate" level="debug" additivity="false"></Logger>
    <Logger name="org.dozer" level="error" additivity="false"></Logger>
    
    <Root level="debug">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>