<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.mawujun.plugins.callActivityPlugin"
    version="1.0.1">

    <name>CallActivityPlugin</name>
    <description>调用用Activity的插件</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <js-module src="www/CallActivityPlugin.js" name="CallActivityPlugin">
        <clobbers target="cordova.plugins.CallActivityPlugin" />
    </js-module>


    <!-- android -->
    <platform name="android">

        <source-file src="src/android/layout/my_activity.xml" target-dir="res/layout"/>
        <source-file src="src/android/com/mawujun/plugins/callActivityPlugin/CallActivityPlugin.java" target-dir="src/com/mawujun/plugins/callActivityPlugin" />
        <source-file src="src/android/com/mawujun/plugins/callActivityPlugin/MyActivity.java" target-dir="src/com/mawujun/plugins/callActivityPlugin" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CallActivityPlugin">
                <param name="android-package" value="com.mawujun.plugins.callActivityPlugin.CallActivityPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.mawujun.plugins.callActivityPlugin.MyActivity" android:label="test">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
     
        </config-file>


        <!-- plugman cannot merge - prepare manual merge -->
        <config-file target="res/values/strings.xml" parent="/resources">

        </config-file>
        
      	
    </platform>
</plugin>
