<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mawujun.repository1.EntityTestMapper" >
	<select id="queryPage" parameterType="map" resultType="map">
		select * from t_EntityTest
		<where>
			<if test="firstName!=null">
				firstName like #{firstName}
			</if>
		</where>
	</select>
	
	<select id="queryPage1" parameterType="map" resultType="map">
		select * from t_EntityTest
		where firstName like #{firstName}

	</select>
</mapper>