/target
/leon.lock.db
/hibernate.log
/leon.trace.db
/hs_err_pid6120.log
/UNABLE TO INITIALIZE LICENSING - NO LICENSE FOUND.error
/hs_err_pid10140.log
/hs_err_pid7516.log
/hs_err_pid8760.log
/leon.h2.db
